@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

p {
    font-size: 18px;
    line-height: 28px;
    color: #334055;
    text-transform: capitalize;
}

a {
    color: #212529;
    text-decoration: none;
}

.text-base {
    font-size: 16px !important;
}

.text-xs {
    font-size: 11px !important;
    line-height: 18px;
}

.text-sm {
    font-size: 14px !important;
    line-height: 18px;
}

.text-md {
    font-size: 20px !important;
    line-height: 24px;
}

.h2 {
    font-size: 60px;
    color: #212529;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-24 {
    border-radius: 24px;
}

.max_w_327 {
    max-width: 327px;
}

.max_w_430 {
    max-width: 430px;
}

.line_height_23 {
    line-height: 23px;
}

.line_height_24 {
    line-height: 24px;
}

.line_height_32 {
    line-height: 32px;
}

.spacer {
    height: 110px;
}

/* Media Queries */
@media (min-width: 1366px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}

@media only screen and (max-width:1200px) {
    .h2 {
        font-size: 52px;
    }
}

@media only screen and (max-width:1024px) {
    .h2 {
        font-size: 48px;
    }
}

@media only screen and (max-width:991px) {
    .testimonial {
        padding: 20px 35px;
    }
}

@media only screen and (max-width:767px) {
    p {
        font-size: 13px;
        line-height: 18px;
    }

    .max_w_327,
    .max_w_430 {
        max-width: 100%;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .sm_rounded_4 {
        border-radius: 4px !important;
    }

    .sm_rounded_7 {
        border-radius: 7px !important;
    }

    .display-3 {
        font-size: 32px;
    }

    .h2 {
        font-size: 32px;
    }

    .sm_text_5 {
        font-size: 5px !important;
    }

    .sm_text_6 {
        font-size: 6px !important;
    }

    .sm_text_7 {
        font-size: 7px !important;
    }

    .sm_text_8 {
        font-size: 8px !important;
    }

    .sm_text_9 {
        font-size: 9px !important;
    }

    .sm_text_10 {
        font-size: 10px !important;
    }

    .sm_text_11 {
        font-size: 11px !important;
    }

    .sm_text_12 {
        font-size: 12px !important;
    }

    .sm_text_13 {
        font-size: 13px !important;
    }

    .sm_text_14 {
        font-size: 14px !important;
    }

    .sm_text_15 {
        font-size: 15px !important;
    }

    .sm_text_16 {
        font-size: 16px !important;
    }

    .sm_text_17 {
        font-size: 17px !important;
    }

    .sm_text_18 {
        font-size: 18px !important;
    }

    .sm_text_19 {
        font-size: 19px !important;
    }

    .sm_text_20 {
        font-size: 20px !important;
    }

    .sm_text_21 {
        font-size: 21px !important;
    }

    .sm_text_22 {
        font-size: 22px !important;
    }

    .sm_text_23 {
        font-size: 23px !important;
    }

    .sm_text_24 {
        font-size: 24px !important;
    }

    .sm_line_height_normal {
        line-height: normal;
    }

    .sm_line_height_5 {
        line-height: 5px !important;
    }

    .sm_line_height_6 {
        line-height: 6px !important;
    }

    .sm_line_height_7 {
        line-height: 7px !important;
    }

    .sm_line_height_8 {
        line-height: 8px !important;
    }

    .sm_line_height_9 {
        line-height: 9px !important;
    }


    .sm_line_height_10 {
        line-height: 10px !important;
    }

    .sm_line_height_11 {
        line-height: 11px !important;
    }

    .sm_line_height_12 {
        line-height: 12px !important;
    }

    .sm_line_height_13 {
        line-height: 13px !important;
    }

    .sm_line_height_14 {
        line-height: 14px !important;
    }

    .sm_line_height_15 {
        line-height: 15px !important;
    }

    .sm_line_height_16 {
        line-height: 16px !important;
    }

    .sm_h_10 {
        height: 10px !important;
    }

    .sm_w_10 {
        width: 10px !important;
    }

    .sm_h_25 {
        height: 25px !important;
    }

    .sm_h_175 {
        height: 175px !important;
    }

    .sm_w_25 {
        width: 25px !important;
    }

    .sm_h_48 {
        height: 48px !important;
    }

    .sm_w_48 {
        width: 48px !important;
    }

    .sm_h_51 {
        height: 51px !important;
    }

    .sm_w_51 {
        width: 51px !important;
    }

    .sm_w_100 {
        width: 100% !important;
    }

    .sm_size_5 {
        height: 5px !important;
        width: 5px !important;
        object-fit: contain;
    }

    .sm_size_6 {
        height: 6px !important;
        width: 6px !important;
        object-fit: contain;
    }

    .sm_size_8 {
        height: 8px !important;
        width: 8px !important;
        object-fit: contain;
    }

    .sm_size_12 {
        height: 12px !important;
        width: 12px !important;
        object-fit: contain;
    }

    .sm_size_14 {
        height: 14px !important;
        width: 14px !important;
    }

    .sm_size_20 {
        height: 20px !important;
        width: 20px !important;
        object-fit: contain;
    }

    .sm_size_23 {
        height: 23px !important;
        width: 23px !important;
        object-fit: contain;
    }

    .sm_size_25 {
        height: 25px !important;
        width: 25px !important;
        object-fit: contain;
    }

    .sm_size_30 {
        height: 30px !important;
        width: 30px !important;
        object-fit: contain;
    }

    .sm_size_36 {
        height: 36px !important;
        width: 36px !important;
        object-fit: contain;
    }

    .sm_max_w_275 {
        max-width: 275px;
    }

    .spacer {
        height: 50px;
    }
}